language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
# command to install dependencies
install: "pip install nose --use-mirrors"
script: PYTHONPATH=`pwd`/parsers nosetests tests/
branches:
  only:
    - master
